@using Laive.Core.Common
@{
    ViewBag.Title = "Chofer";
}
<div id="idSearch" class="ContentPageSearch">
    <table cellspacing="0" style="width:100%">
        <tr>
            <td style="width:200px;">
                <select id="searchColumnLaive" class="selectLaive"></select>
            </td>
            <td style="width:150px;">
                <select id="searchOperadorLaive" class="selectLaive">
                    <option value="like">Contiene</option>
                    <option value="=">Igual que</option>
                    <option value="<">Menor que</option>
                    <option value="<=">Menor Igual que</option>
                    <option value=">">Mayor que</option>
                    <option value=">=">Mayor Igual que</option>
                </select>
            </td>
            <td>
                <input id="searchValueLaive" type="text" style="width:100%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;" />
            </td>
            <td style="width:85px;">
                <a class="urlButtom" href="javascript:void(0)" onclick="addFilterLaive();">
                    <img src="../../Content/images/AddFilter.png" alt="*" title="Agregar Filtro" />
                    <div class="ContentPageMenuPanelText">Buscar</div>
                </a>
            </td>
            <td style="width:114px;">
                <a class="urlButtom" href="javascript:void(0)" onclick="clearFilter();">
                    <img src="../../Content/images/MenuClearSearch.png" alt="*" title="Borrar Filtros" />
                    <div class="ContentPageMenuPanelText">Borrar Filtros</div>
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <input id="idTextFilterControl" type="text" />
            </td>
        </tr>
    </table>

</div>
<div id="ContentPageDetails" class="ContentPageDetails">
    <table id="GridBandeja"></table>
</div>
<div id="idPopupEdit">
    <div>
        <div class="HBox" style=" width:100%;">
            <div class="samnetLabel">
                Clave  
            </div>
            <div class="samnetEditor">
                <input class="text-box" id="txtClaveChofer" type="text" style="width:250px" maxlength="6" />
            </div>
        </div>
        <div class="HBox" style=" width:100%;">
            <div class="samnetLabel">
                Ap. y Nombres
            </div>
            <div class="samnetEditor">
                <input class="text-box" id="txtNombreChofer" type="text" style="width:250px" />
            </div>
        </div>
        <div class="HBox" style=" width:100%;">
            <div class="samnetLabel">
                Licencia 
            </div>
            <div class="samnetEditor">
                <input class="text-box" id="txtLicenciaChofer" type="text" style="width:250px" />
            </div>
        </div>
        <div class="HBox" style=" width:100%;">
            <div class="samnetLabel">
                Comunicación
            </div>
            <div class="samnetEditor" style=" height:38px;">
                <input class="text-box" id="txtComunicacion" type="text" style="width:250px" maxlength="11" />
            </div>
        </div>
        <div class="HBox" style=" width:100%;">
            <div class="samnetLabel">

            </div>
            <div class="samnetEditor">
                <input type="checkbox" id="chkActivo" value="Activo" />Activo
            </div>
        </div>
        <div class="HBox" style=" width:100%; height:20px;">
        </div>
        <div class="HBox" style=" width:100%;">
            <div class="samnetSpacer">
            </div>
            <div class="samnetButton" style=" text-align:right;">
                <input id="btnGuardar" type="button" value="Guardar" class="btnClassButton" style="width:100px;" />
                <input id="btnCancelar" type="button" value="Cancelar" class="btnClassButton" style="width:100px;" onclick="$('#idPopupEdit').dialog('close');" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   /*VARIABLES GLOBALES*/
   var _popupEntityState = SamGetStateUnchanged();
   var _idChofer = 0;

   /*CONTENEDOR DE FILTROS*/
   $(document).ready(function () {
      $("#idTextFilterControl").tokenInput("", { theme: "facebook" ,onDelete: function (item) {
         var vartoken = $("#idTextFilterControl").tokenInput("get");
         $('#GridBandeja').flexOptions({ query: JSON.stringify(vartoken) }).flexReload();
      }});
   });

   jQuery(document).ready(function ($) {
      showTitleSystem('@ViewBag.Title');

      var heightGrid = getHeightForGrid(100);
      var varColumn = [
                       { display: '', name: 'IdChofer', hide: true },
                       { display: 'Clave Chofer', name: 'ClaveChofer', width: 60 },
                       { display: 'Apellidos y Nombres', name: 'NombreChofer', width: 250 },
                       { display: 'Licencia', name: 'LicenciaChofer', width: 85 },
                       { display: 'Comunicación', name: 'Comunicacion', width: 85 },
                       { display: '', name: 'Activo', hide: true }
      ];

      varColumn.forEach(function (item) {
         if (item.display != '')
            $("#searchColumnLaive").append($("<option>", { value: item.name, text: item.display }));
      });

      $('#GridBandeja').flexigrid({
         onError: function (jqXHR, textStatus, errorThrown) {
            MsgAlert(@MsgAlertTypeConstant.ERROR,"No se encuentra el Recurso para mostrar los Datos");
         },
         url:'@Url.Action("GetBandeja", "Chofer", new { area = "DI"})',
         dataType: 'json',
         colModel: varColumn,
         singleSelect: true,
         showTableToggleBtn: true,
         showToggleBtn: false,
         resizable: false,
         height: heightGrid,
         buttons: [
                     { name: 'Nuevo', bclass: 'add', onpress: AddRegister },
                     { separator: true },
                     { name: 'Modificar', bclass: 'edit', onpress: EditRegister }
         ]
      });

      $("#idPopupEdit").dialog({
         appendTo: "#idContentPageAjax",
         autoOpen: false,
         modal: true,
         draggable: true,
         resizable: false,
         width: 380,
         height: 235,
         show: {
            effect: "drop",
            duration: 250
         },
         hide: {
            effect: "drop",
            duration: 250,
            direction: "right"
         }
      });

      $("#btnGuardar").click(function () {

         var validate = true;
         validate = validate && SamControlEsValido("txtClaveChofer", "Ingrese una clave del chofer.");
         validate = validate && SamControlEsValido("txtNombreChofer", "Ingrese los apellidos y nombres del chofer.");
         validate = validate && SamControlEsValido("txtLicenciaChofer", "Ingrese la Licencia del chofer.");

         if (validate == false)
            return false;

         var _data = {
            EntityState: _popupEntityState,
            IdChofer : _idChofer,
            ClaveChofer : document.getElementById("txtClaveChofer").value,
            NombreChofer : document.getElementById("txtNombreChofer").value,
            LicenciaChofer : document.getElementById("txtLicenciaChofer").value,
            Comunicacion: document.getElementById("txtComunicacion").value,
            Activo: document.getElementById("chkActivo").checked
         };

         AppAjax('POST','json','@Url.Action("UpdateModel", "Chofer", new { area = "DI" })', _data, "", false, false, function(response){
            if(response.Status == '@JsonMessageStatus.SUCCESS')
            {
               MsgAlert(@MsgAlertTypeConstant.SUCCESS,response.Message);
               $('#GridBandeja').flexReload();      
               $('#idPopupEdit').dialog('close');
            }
            else if(response.Status == '@JsonMessageStatus.INFORMATION'){
               MsgAlert(@MsgAlertTypeConstant.INFORMATION,response.Message);
            }
            else{
               MsgAlert(@MsgAlertTypeConstant.ERROR,response.Message);
            }
         
         });

      });
   });


   function AddRegister() {
      _idChofer = 0;
      _popupEntityState = SamGetStateAdded();
      SamClearControl("txtClaveChofer", false);
      SamClearControl("txtNombreChofer", false);
      SamClearControl("txtLicenciaChofer", false);
      SamClearControl("txtComunicacion", false);
      SamClearControl("chkActivo", false);

      $("#idPopupEdit").dialog({ title: "Agregar Chofer" });
      $('#idPopupEdit').dialog('open');
   }

   function EditRegister(com, grid) {
      var items = $('.trSelected', grid);
      if (items != null && items.length > 0) {
         var item = items[0];
         _idChofer = item.cells[0].textContent;
         _popupEntityState = SamGetStateModified();

         SamSetInputValue("txtClaveChofer", item, 1, false);
         SamSetInputValue("txtNombreChofer", item, 2, false);
         SamSetInputValue("txtLicenciaChofer", item, 3, false);
         SamSetInputValue("txtComunicacion", item, 4, false);
         SamSetInputValue("chkActivo", item , 5, false);

         $("#idPopupEdit").dialog({ title: "Editar Chofer" });
         $('#idPopupEdit').dialog('open');

      }
      else {
         MsgAlert(@MsgAlertTypeConstant.INFORMATION,"Seleccione un registro.");
      }
   }

</script>