@using Laive.Core.Common
@{
   ViewBag.Title = "Partner";
}
<div id="idSearch" class="ContentPageSearch">
   <table cellspacing="0" style="width:100%">
      <tr>
         <td style="width:200px;">
            <select id="searchColumnLaive" class="selectLaive"></select>
         </td>
         <td style="width:150px;">
            <select id="searchOperadorLaive" class="selectLaive">
               <option value="like">Contiene</option>
               <option value="=">Igual que</option>
               <option value="<">Menor que</option>
               <option value="<=">Menor Igual que</option>
               <option value=">">Mayor que</option>
               <option value=">=">Mayor Igual que</option>
            </select>
         </td>
         <td>
            <input id="searchValueLaive" type="text" style="width:100%;box-sizing: border-box;-webkit-box-sizing:border-box;-moz-box-sizing: border-box;" />
         </td>
         <td style="width:85px;">
            <a class="urlButtom" href="javascript:void(0)" onclick="addFilterLaive();">
               <img src="../../Content/images/AddFilter.png" alt="*" title="Agregar Filtro" />
               <div class="ContentPageMenuPanelText">Buscar</div>
            </a>
         </td>
         <td style="width:114px;">
            <a class="urlButtom" href="javascript:void(0)" onclick="clearFilter();">
               <img src="../../Content/images/MenuClearSearch.png" alt="*" title="Borrar Filtros" />
               <div class="ContentPageMenuPanelText">Borrar Filtros</div>
            </a>
         </td>
      </tr>
      <tr>
         <td colspan="5">
            <input id="idTextFilterControl" type="text" />
         </td>
      </tr>
   </table>

</div>
<div id="ContentPageDetails" class="ContentPageDetails">
   <table id="GridBandeja"></table>
</div>
<div id="idPopupEdit">
   <div>
      <div class="HBox" style=" width:100%;">
         <div class="samnetLabel">
            Código
         </div>
         <div class="samnetEditor">
            <input class="text-box" id="txtCodigo" type="text" style="width:80px" disabled="disabled" />
         </div>
      </div>
      <div class="HBox" style=" width:100%;">
         <div class="samnetLabel">
            Descripción
         </div>
         <div class="samnetEditor">
            <input class="text-box" id="txtDescripcion" type="text" style="width:250px" />
         </div>
      </div>
      <div class="HBox" style=" width:100%;">
         <div class="samnetLabel">
            Departamento
         </div>
         <div class="samnetEditor">
            <input class="text-box" id="txtDepartamento" type="text" style="width:80px"/>
         </div>
      </div>
      <div class="HBox" style=" width:100%;">
         <div class="samnetLabel">
            Clave
         </div>
         <div class="samnetEditor">
            <input class="text-box" id="txtClave" type="text" style="width:250px" />
         </div>
      </div>
      <div class="HBox" style=" width:100%;">
         <div class="samnetLabel">
            Ruta
         </div>
         <div class="samnetEditor">
            @Html.DropDownList("ddlIdRuta", new SelectList(ViewBag.Ruta, "value", "text"), new { @class = "text-box", @style = "width:80px;"})
         </div>
      </div>
      <div class="HBox" style=" width:100%; height:20px;">
      </div>
      <div class="HBox" style=" width:100%;">
         <div class="samnetSpacer">
         </div>
         <div class="samnetButton" style=" text-align:right;">
            <input id="btnGuardar" type="button" value="Guardar" class="btnClassButton" style="width:100px;" />
            <input id="btnCancelar" type="button" value="Cancelar" class="btnClassButton" style="width:100px;" onclick="$('#idPopupEdit').dialog('close');" />
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   /*VARIABLES GLOBALES*/
   var _popupEntityState = SamGetStateUnchanged();
   var _idPartner = "";

   /*CONTENEDOR DE FILTROS*/
   $(document).ready(function () {
      $("#idTextFilterControl").tokenInput("", {
         theme: "facebook", onDelete: function (item) {
            var vartoken = $("#idTextFilterControl").tokenInput("get");
            $('#GridBandeja').flexOptions({ query: JSON.stringify(vartoken) }).flexReload();
         }
      });
   });

   jQuery(document).ready(function ($) {
      showTitleSystem('@ViewBag.Title');

      var heightGrid = getHeightForGrid(100);
      var varColumn = [
                       { display: 'Codigo Partner', name: 'CodigoPartner', width: 60 },
                       { display: 'Descripción', name: 'Glosapartner', width: 250 },
                       { display: 'Departamento', name: 'Dpto', width: 60 },
                       { display: 'Clave', name: 'ClavePartner1', width: 250 },
                       { display: '', name: 'IdRuta', hide: true },
                       { display: 'Ruta', name: 'GlosaRuta', width: 250 }
                       
      ];

      varColumn.forEach(function (item) {
         if (item.display != '')
            $("#searchColumnLaive").append($("<option>", { value: item.name, text: item.display }));
      });




      $('#GridBandeja').flexigrid({
         onError: function (jqXHR, textStatus, errorThrown) {
            MsgAlert(@MsgAlertTypeConstant.ERROR,"No se encuentra el Recurso para mostrar los Datos");
         },
         url:'@Url.Action("GetBandeja", "Partner", new { area = "DI"})',
         dataType: 'json',
         colModel: varColumn,
         singleSelect: true,
         showTableToggleBtn: true,
         showToggleBtn: false,
         resizable: false,
         height: heightGrid,
         buttons: [
                     { name: 'Modificar Ruta', bclass: 'edit', onpress: EditRegister }
         ]
      });





      $("#idPopupEdit").dialog({
         appendTo: "#idContentPageAjax",
         autoOpen: false,
         modal: true,
         draggable: true,
         resizable: false,
         width: 380,
         height: 225,
         show: {
            effect: "drop",
            duration: 250
         },
         hide: {
            effect: "drop",
            duration: 250,
            direction: "right"
         }
      });

      $("#btnGuardar").click(function () {

         var validate = true;
         validate = validate && SamControlEsValido("txtDescripcion", "Ingrese una Descripción para la Ruta.");

         if (validate == false)
            return false;

         var _data = {
            IdPartner: _idPartner,
            IdRuta: document.getElementById("ddlIdRuta").value
         };

         $.ajax({
            type: "POST",
            url:'@Url.Action("UpdateModel", "Partner", new { area = "DI" })',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(_data),
            dataType: "json",
            success: function (result) {
               if (IsLoginRedirect(result.toString()))
                  window.location.href = "/Login";
               else {
                  if (result.Status == "success") {
                     $('#idPopupEdit').dialog('close');
                     $('#GridBandeja').flexReload();
                     MsgAlert(@MsgAlertTypeConstant.SUCCESS,result.Message);
                  }
                  else {
                     MsgAlert(@MsgAlertTypeConstant.ERROR,result.Message);
                  }
               }
            },
            error: function (xhr, status, error) {
               MsgAlert(@MsgAlertTypeConstant.ERROR,error.toString());
            }
         });


      });
   });


   function EditRegister(com, grid) {
      var items = $('.trSelected', grid);
      if (items != null && items.length > 0) {
         var item = items[0];
         _idPartner = item.cells[0].textContent;
         _popupEntityState = SamGetStateModified();

         SamSetInputValue("txtCodigo", item, 0, true);
         SamSetInputValue("txtDescripcion", item, 1, true);
         SamSetInputValue("txtDepartamento", item, 2, true);
         SamSetInputValue("txtClave", item, 3, true);
         SamSetInputValue("ddlIdRuta", item, 4, false);

         $("#idPopupEdit").dialog({ title: "Editar Partner" });
         $('#idPopupEdit').dialog('open');

      }
      else {
         MsgAlert(@MsgAlertTypeConstant.INFORMATION,"Seleccione un registro.");
      }
   }


</script>